.grille{
    width: 45%;
    float: left;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 22% 2% 22% 22% 31%;
    grid-template-areas: 
    "poste poste poste"
    "sep sep sep"
    "img taille note"
    "img poids titularisation"
    "comm comm comm";
    padding: 20px;

    p{
        font-size: 0.8em;
    }

    .comm{
        display: block;
    }
}

.img{   

    position: relative;
    left:-7px;

    grid-area:img;
    #cadre_portrait{
        left: -5px;
        top: -195px;
        width: 110px;
        height: 520px;

    }
}
select{
    width: 90px;
    top:0;
}

.taille{
    grid-area: taille;
    place-self: end;
    justify-self: start; 
}
.sep_grille{
    grid-area: sep;
}
// .nom{
//     grid-area: "";
// }
.commentaires{
    grid-area: comm;
    margin-top: 20px;
    padding: 40px 18px 20px 20px ;
    text-align: justify;
}

.titulaire{
    place-self: end;
    justify-self: start; 
    grid-area:titularisation;
    select{
        font-size: 0.7em;
        width:82px;
    }
}
.note{
    grid-area: note;
    place-self: end;
    justify-self: start; 
}
.poids{
    grid-area: poids;
    place-self: end;
    justify-self: start;
}
.poste{
    grid-area: poste;
}

.cont_cartes{
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 90%;
}

.sep{
    position: relative;
    width:80%;
    left:10%;
    border: 1px solid rgb(206, 192, 208);
}

h2{
    position: relative;
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 30px;
}



.titres_carte{
    font-size: 1em;
}

#btn{
    position: relative;
    width: 90%;
    left:5%;
    display: flex;
    justify-content: center;
}

#valider{
    width:120px;
    position: relative;
        z-index: 3;
    height:45px;
    border:1px solid #BA9FCB;
    border-radius: 10px;
    background-color:#9673ab ;
    color:white;
    cursor: pointer;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.299);
}

#annuler{

    position: relative;
    z-index: 3;

    display: inline;
    place-self: end;
    padding-right: 30px;
    button{
        pointer-events: none;

        width:120px;
        height:45px;
        border:1px solid rgb(164, 163, 165);
        border-radius: 10px;
        background-color:#b7b4b8 ;
        color:white;
        cursor: pointer;
        box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.299);
    }
}

#msgerr{
    position: relative;
    width:90%;
    color: rgb(188, 83, 83);
    display: block;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
