// @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
.grille {
    position: relative;
    width: 90%;
    left:5%;
    height: 350px;
    display: grid;
    grid-template-columns: 25% 20% 20% 35%;
    grid-template-rows: 22% 3% 18.75% 18.75% 18.75% 18.75%;
    grid-template-areas : "poste poste poste poste "
                          " hr hr hr hr"
                          "photo nom nom statut"
                          "photo dateN taille comm"
                          "photo licence poids comm"
                          "boutons boutons boutons boutons";
    justify-items: center;
    place-items: center stretch;
    margin-bottom: 40px;
    background: #cac8c2;
    //background: linear-gradient(180deg, rgba(221,210,207,1) 0%, rgba(185,179,177,1) 100%);
    box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    p{
        display: inline;
    }
    h4{
        display: inline;
    }
    
}
.sep_grille{
    grid-area: hr;
    place-self: center;
    width: 90%;
    background-color: white;
    border:0.5px solid white;
    margin-bottom: 10px;

}
.img {
    grid-area: photo;
    place-self: center;
    position:relative;
    left:10px;
    top:20px;

    #cadre_portrait{
        z-index:1;
        position: absolute;
        left:-10px;
        top: -7px;
        height:220px;
        
    }
    
}

.poste{
    grid-area: poste;
    display: flex;
    justify-content: center;

    h2{
        text-align: center;

        padding-top:10px;
        font-size: 1.8em;
        display: inline;
    }

    img{
        display: inline;
        padding: 0px 30px;
    }
}
.nom{
    grid-area:nom;
    place-self:center;
    p{
        text-align: center;
        font-size:1.5em;
        
    }
}

.num{
    grid-area: licence;
}

.dateN{
    grid-area:dateN;
}

.licence{
    grid-area:licence;
}

.taille{
    grid-area:taille;
}

.statut{
    grid-area: statut;
    position: relative;
    height:100%;
    align-items:end;
    padding-left:10px;
    padding-top:7px;
    //background-color: rgb(218, 192, 192);
    h4{
        display: block;
    }
    select{
        display:inline;
        width:200px;
    }
    .valider{
        display: inline;
    }
    
}

.commentaires{
    padding-left:10px;
    padding-top:30px;
    grid-area:comm;
    
    textarea{
        position: relative;
        width:200px;
        resize:none;
        height:110px;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-style:italic;
        
    }
}

.poids{
    grid-area:poids;
}

.footer{
    grid-area : boutons;
    text-align: center;
    font-size: 1.6em;
    a:hover{
        color:#8449a8;
    }
    a{
        padding:5px;
    }
}

select{
    font-family: 'Raleway', sans-serif;
    font-size:1.05em;
    text-align: center;
    background-color: #ffffff;
    border:none;
    position: relative;
    width:170px;
    height:25px;
    border-radius:10px;
    //color:rgb(150, 35, 196);
}

select:focus{
    outline:none;
}

.valider{

    width:60px;
    position: relative;
    height:35px;
    left:3px;
    border:1px solid #BA9FCB;
    border-radius: 120px;
    background-color:#9673ab ;
    color:white;
    cursor: pointer;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.264);

}

textarea{
    border: none;
    outline: none;
}

.titres_carte{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing:1px;
}

