#grille {
    position: relative;
    width: 80%;
    left:10%;
    height: 350px;
    display: grid;
    grid-template-columns: 25% 25% 20% 30%;
    grid-template-rows: 22% 3% 15% 15% 15% 15% 15%;
    grid-template-areas : "poste poste poste poste "
                          " hr hr hr hr"
                          "photo nom nom form"
                          "photo dateN dateN form"
                          "photo licence licence form"
                          "photo taille poids form"
                          "boutons boutons boutons boutons";
    justify-items: center;
    place-items: center stretch;
    margin-bottom: 40px;
    background: #cac8c2;
    //background: linear-gradient(180deg, rgba(221,210,207,1) 0%, rgba(185,179,177,1) 100%);
    box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    p{
        display: inline;
    }
    h4{
        display: inline;
    }
    
}
.sep_grille{
    grid-area: hr;
    place-self: center;
    width: 80%;
    background-color: white;
    border:0.5px solid white;
    margin-bottom: 18px;

}
.img {
    grid-area: photo;
    place-self: center;
    position:relative;

    #cadre_portrait{
        z-index:1;
        position: absolute;
        left:-10px;
        top:-9px;
        height:220px;
        
    }
    
}

.poste{
    grid-area: poste;
    display: flex;
    justify-content: center;

    h2{
        text-align: center;

        padding-top:10px;
        font-size: 1.8em;
        display: inline;
    }

    img{
        display: inline;
        padding: 0px 30px;
    }
}
.nom{
    grid-area:nom;
}

.dateN{
    grid-area:dateN;
}

.licence{
    grid-area:licence;
}

.taille{
    grid-area:taille;
}

.statut_comm{
    grid-area: form;
    position: relative;
    height:100%;
    width:100%;
    //background-color: rgb(218, 192, 192);
    
}

.poids{
    grid-area:poids;
}

.footer{
    grid-area : boutons;
}

select{
    font-family: 'Raleway', sans-serif;
    font-size:1.05em;
    text-align: center;
    background-color: #ffffff;
    border:none;
    position: relative;
    width: 150px;
    height:25px;
    border-radius:10px;
    //color:rgb(150, 35, 196);
}

select:focus{
    outline:none;
}

.valider{
    border:1px solid white;
    border-radius:15px;
    cursor:pointer;
    position: relative;
    height:30px;
    background-color: #ba9fcb;
    width:60px;
    color:white;
    font-family:  'Raleway', sans-serif;
}

textarea{
    border: none;
    outline: none;
}