.ligne_grille {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
  position: relative;
  width: 80%;
  left: 10%;
  height: auto;
      grid-template-areas: "equipe equipe" "hr hr" "score score" "date ajout_score" "heure ajout_score" "lieu ajout_score" "ajout_selection selection" "footer footer";
  background-color: lightgrey;
  padding: 25px 12% 25px 7%;
  justify-items: center;
  place-items: center stretch;
  margin-bottom: 40px;
  background: #cac8c2;
  -webkit-box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  row-gap: 10px;
}

h4 {
  display: inline;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1.2em;
}

.hr {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hr;
  place-self: center;
  width: 90%;
  background-color: white;
  border: 0.5px solid white;
  margin-bottom: 10px;
}

.score_equipe {
  padding-top: 5px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: score;
  text-align: center;
  font-size: 1.5em;
}

.score_equipe h4 {
  font-size: 1.32em;
  padding-bottom: 20px;
  display: inline;
}

.score_equipe .scM {
  position: relative;
  bottom: 5px;
}

.score_equipe .sc {
  font-family: 'Amatic SC', cursive;
  font-size: 1.32em;
}

.score_equipe .dec {
  padding-left: 6px;
  padding-right: 6px;
  display: inline;
}

.lieu {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: lieu;
}

.ajout_score {
  padding-left: 100px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: ajout_score;
  place-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.ajout_score h4 {
  top: 0;
  display: block;
  margin-bottom: 8px;
}

.ajout_score label {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  display: inline;
}

.ajout_score .lab_eq {
  position: relative;
  left: 35px;
}

.ajout_score .sc_adv {
  display: block;
  margin: 8px;
}

.ajout_score .champ {
  display: inline;
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  margin-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 5px;
  border-radius: 10px;
  border: 1px solid purple;
  outline: none;
}

.ajout_score .champ[type=number]::-webkit-inner-spin-button,
.ajout_score .champ[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ajout_score .ch2 {
  left: 40px;
}

.ajout_score .champ:focus {
  background-color: #d7d0d7;
  border: 2.5px solid #9e2a9e;
}

.date {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: date;
}

.heure {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: heure;
}

.equipe {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: equipe;
  text-align: center;
  padding-bottom: 10px;
}

.equipe h2 {
  font-family: 'Amatic SC', cursive;
  display: inline;
  font-size: 1.8em;
}

.equipe p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
}

.footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  text-align: center;
  padding-top: 12px;
  font-size: 2em;
}

.footer .modif:hover {
  color: #8449a8;
}

.footer .modif {
  padding-right: 15px;
}

.footer .supp {
  padding-left: 15px;
}

.footer .supp:hover {
  color: #8449a8;
}

.ajout_score {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: ajout_score;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.129);
          box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.129);
  place-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 10px 0px 10px 50px;
  position: relative;
  width: 400px;
  background-color: #f2f3f1;
  left: 50px;
}

.ajout_score .enr {
  position: relative;
  width: 100px;
  position: relative;
  height: 35px;
  left: 170px;
  border: 1px solid #BA9FCB;
  border-radius: 12px;
  background-color: #9673ab;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.264);
          box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.264);
}

.ajout_selection {
  justify-items: center;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: ajout_selection;
}

.selection {
  justify-items: center;
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: selection;
}

#form {
  padding-left: 5px;
  width: 80px;
  left: 10%;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: 700;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  position: relative;
  margin-bottom: 10px;
}

#form img {
  padding-top: 10px 5px 0px 0px;
  height: 30px;
  -webkit-filter: invert(53%) sepia(15%) saturate(1014%) hue-rotate(234deg) brightness(90%) contrast(85%);
          filter: invert(53%) sepia(15%) saturate(1014%) hue-rotate(234deg) brightness(90%) contrast(85%);
}

.liens {
  font-family: 'Amatic SC', cursive;
  font-size: 1.4em;
  padding-top: 20px;
  position: relative;
  width: 230px;
  display: block;
}

.liens .icones {
  position: relative;
  height: 28px;
  top: 7px;
  padding-right: 10px;
}

.liens .voir {
  position: relative;
  height: 20px;
  padding-right: 10px;
  top: 5px;
}

.liens:hover {
  color: #814aa0;
}

.liens:hover .icones {
  -webkit-filter: invert(52%) sepia(18%) saturate(815%) hue-rotate(234deg) brightness(92%) contrast(92%);
          filter: invert(52%) sepia(18%) saturate(815%) hue-rotate(234deg) brightness(92%) contrast(92%);
}

.liens:hover .voir {
  -webkit-filter: invert(52%) sepia(18%) saturate(815%) hue-rotate(234deg) brightness(92%) contrast(92%);
          filter: invert(52%) sepia(18%) saturate(815%) hue-rotate(234deg) brightness(92%) contrast(92%);
}

.voirsel {
  padding-left: 60px;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 300px;
}
/*# sourceMappingURL=matchs.css.map */