.ligne_grille{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 30px 30px 30px 30px;

    grid-template-areas:
    "equipe score"
    "date ajout_score"
    "lieu selection"
    "joué ajout_selection";
    background-color: lightgrey;
}

.score_equipe{
    grid-area: score;
}
.lieu{
    grid-area: lieu;
}
.date{
    grid-area: date;
}
.equipe{
    grid-area: equipe;
}
.footer{
    grid-area: selection;
}
.joué{
    grid-area: joué;
}
.ajout_score{
    grid-area: ajout_score;
}
.ajout_selection{
    grid-area: ajout_selection;
}