@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
    box-sizing: border-box;
}

.grille{
    grid-template-areas: 
    "poste poste poste poste"
    "sep_grille sep_grille sep_grille sep_grille"
    "img nom nom ."
    "img dateN taille note"
    "img num poids ."
    ". . . ."
    ;
}

.img{
    grid-area: img;
}
.num{
    grid-area: num;
}
.nom{
    grid-area: nom;
}
.poste{
    grid-area: poste;
}
.taille{
    grid-area: taille;
}
.poids{
    grid-area: poids;
}
.sep_grille{
    grid-area: sep_grille;
}
.dateN{
    grid-area: dateN;
}
.note{
    grid-area: note;
}

#selection{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}